/*******************************************
            HEADER ELEMENTS 
*******************************************/


#header  {
    display: inline;
}
#header-img {
    max-width: 45px;
    display: inline-block;
    padding: 0%;
}
h3   {
    font-size: 30px;
    font-weight: lighter;
    margin-left: 20px;
    box-sizing: border-box;
    display: inline;
}
nav {
    display: inline-block;
    margin-left: 550px;
    text-decoration: none;
}
#nav-li{
    display: inline;
    font-size: 15px;
    margin-left: 20px;
    
}
#nav-ul{
    max-width: 1200px;
    margin: 0 auto;
    white-space: nowrap;
}



/*******************************************
            MAIN ELEMENTS 
*******************************************/



#main   {
    line-height: 5px;
}
h2  {
    font-weight: normal;
    text-align: center;
    font-family: sans-serif;
}
#email  {
    text-align: center;
    width: 280px;
    margin-top: 10px;
}
#form   {
    text-align: center;
}
#submit   {
    margin-top: 15px;
    border: hidden;
    padding: 10px;
    margin-bottom: 0px;
}
a   {
    text-decoration: none;
}
.btn    {
    font-weight: bolder;
}

/* the flexbox usage */


#bar   {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


#div  {
    display: inline-block;
    border: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 0px;
    width: 270px;
    height: 270px;
}
h5  {
    font-weight: bold;
    border: 1px;
    background-color: #ddd;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px;
}
ul  {
    list-style: none;
}
li  {
    font-size: 20px;
    line-height: 37px;
    margin-left: 19px;
}
#select-btn {
    margin-left: 52px;
    font-size: 17px;
    margin-top: 20px;
    width: 170px;
    padding: 7px;
}
#van    {
    width: 70px;
    padding: 0px;
    margin-top: 0px;
}
h6   {
    font-weight: lighter;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 30px;
}
#select-btn {
    border: hidden;
}
#footer  {
    display: inline;
    border: hidden;
    width: 100px;
    text-align: right;
}
.footer {
    border: hidden;
    border-color: red;
    background-color: #ddd;
    font-size: 10px;
    font-weight: lighter;
    line-height: 2px;
    padding: 10px;
    margin-left: 110px;
    margin-right: 109px;
    margin-bottom: 0px;
    margin-top: 40px;
}
.footer p   {
    font-size: 14px;
}
.footer li  {
    font-size: 16px;
}
#footer-li  {
    display: inline;
}


/*******************************************
         COLORING OF ELEMENTS 
*******************************************/


body    {
    background-color: whitesmoke;
}
#submit {
    background-color: #f1c40f;
}
#select-btn {
    background-color: #f1c40f;
}
#footer {
    background-color: #ddd;
}
p   {
    font-size: 20px;
}


/*******************************************
         MEDIA QUARIES
*******************************************/


